# Go
*.exe
*.exe~
*.dll
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum

# Ignora .so exceto o binário final do pacote
*.so
!pggo/libpggo.so

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribuição / build
.Python
build/
dist/
downloads/
.eggs/
*.egg-info/
MANIFEST

# Ambiente virtual
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/

# Cache / testes
.pytest_cache/
.tox/
.nox/
.coverage
coverage.xml
